**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
**/.DS_Store
**/venv
**/env
**/__pycache__
*.pyc
Dockerfile
README.md
docker-compose*
.mypy_cache
.pytest_cache
.coverage.*
.cache
.github
